p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  max-width: 1600px;
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
  /* outline: 2px solid tomato; */
}

/* --------Хедер-------- */
.page-header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
  

}

.logo-first {
  color: var(--accent-color);
}
.logo-head {
  display: flex;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;

  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;


}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .list {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  position: relative;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
    padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link.current::after{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;

  width: 100%;
  height: 4px;

  background: #2196F3;
    border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.list-item + .list-item {
  margin-left: 30px;
}
.container > .list {
  margin-left: auto;
}
.contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.contacts:hover .header-contacts-icon {
  fill: var(--accent-color);
}
.contacts:focus .header-contacts-icon {
  fill: var(--accent-color);
}

.header-contacts-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}



/* --------Hero-------- */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  max-width: 1600px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  /* block-size: cover; */
  background-repeat: no-repeat;
  text-align: center;
}
.hero > .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero button {
  padding: 10px 32px;
  border: var(--accent-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.section-title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* --------privileges-------- */
.privileges-title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.privileges-item {
  margin-right: 30px;
  max-width: 270px;
}
.privileges-item:last-child {
  margin-right: 0;
}
.privileges {
  padding-top: 94px;
  padding-bottom: 94px;
}
.privileges-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

/* --------Work-------- */
.work-item:not(:last-child) {
  margin-right: 30px;
}
.section-work > .container {
  padding-bottom: 94px;
}
.work-img-container img {
  display: block;
}
.work-img-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.work-img-content {
  display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 0; */
    bottom: 0;
  
    /* transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%); */

    height: 70px;
    width: 100%;
    font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(0, 0, 0, 0.432);
}
/* .work-img-container::before {
  content: "";
  position: absolute;
  right: 0;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 20px solid transparent;
  border-top: 20px solid var(--accent);
  border-right: 20px solid var(--accent);
  border-top-right-radius: 10px;
  opacity: 0;
  z-index: 1;
}
.work-img-container:hover .work-img-content {
  transform: translateY(0);
} */

/* --------Team-------- */
.section-team {
  background-color: #f5f4fa;
}
.section-team > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-item {
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  transition-property: background-color;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--white-color);

}

/* --------Clients-------- */
.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.clients-list {
  gap: 30px;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon.brand {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* --------Footer-------- */
.container.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer {
  background-color: #2f303a;
}
.address {
  color: var(--white-color);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address a {
  color: var(--white-color);
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address a:hover,
.address a:focus {
  color: var(--accent-color);
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}
.list.footer {
  display: block;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-soc {
  margin-left: 70px;
}
.join {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-soc-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footer-soc-item {
  width: 44px;
  height: 44px;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: var(--white-color);
}

.subscribe {
  margin-left: 93px;
}
.subscribe-text {
  margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #FFFFFF;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  background-color: transparent;
  color: var(--white-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  width: 200px;

  background-color: var(--accent-color);
  color: var(--white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
}

.subscribe-wrap {
  display: flex;
  gap: 12px;
}

.subscribe-icon{
  fill: var(--white-color);
}

/* --------Portfolio-------- */
.project {
  flex-wrap: wrap;
}
.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-link {
  display: block;
  width: 100%;
  height: 100%;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.project-border {
  padding: 20px 24px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.project-item img {
  display: block;
}
.button {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: #f5f4fa;
  color: var(--secondary-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}


.project-img-container img {
  display: block;
}
.project-img-container {
  position: relative;
    cursor: pointer;
    overflow: hidden;
}
.project-img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 63px 24px;
  left: 0;
  bottom: 0;

  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(170%);

  height: 100%;
  width: 100%;
  font-weight: 400;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
  
    color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
}
.project-img-container::before {
  content: "";
    position: absolute;
    right: 0;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: 20px solid transparent;
    border-top: 20px solid var(--accent);
    border-right: 20px solid var(--accent);
    border-top-right-radius: 10px;
    opacity: 0;
    z-index: 1;
}
.project-link:hover .project-img-content {
  transform: translateY(0);
}
.project-link:focus .project-img-content {
  transform: translateY(0);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list.btn {
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}

.section.our-works {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------Modal window-------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 33, 33, 0.5);

  transition: opacity 200ms linear, visibility 200ms linear;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scaleY(0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--white-color);

  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 200ms linear;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center
  ;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--secondary-text-color);
}
.label-text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.modal-form {
  position: relative;
}
.modal-label {
  display: block;
}
.modal-label-coment {
  display: block;
  position: relative;
}

.modal-icon {
  display: block;
  fill: var(--secondary-text-color);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-wrap {
  display: block;
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-input-coment {
  width: 100%;
  height: 120px;
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
}

.modal-text::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
}
.modal-field {
  margin-bottom: 20px;
}
.modal-privacy {
  display: block;
  margin-bottom: 30px;
}
.form-button {
  width: 200px;
  height: 50px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: -75px;
    transform: translateX(-50%);
}
.form-button:hover {
  background: #188CE8;
}
.check-text{
  display: flex;
  align-items: center;
  position: relative;
}
.check-text span{
  display: flex;
  justify-content: center;
  align-items: center;

  fill: transparent;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 3px;
  margin-right: 8px;
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.privacy-link {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;

}